apiVersion: v1
kind: Service
metadata:
  name: threadwise-api
  namespace: threadwise
  labels:
    app: threadwise
    component: api
spec:
  type: ClusterIP
  ports:
    - port: 3000
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app: threadwise
    component: api

